@import 'public/less/variables.less';

.create-dir {
  margin-top: 50px;
}

.create-repo-container {
  background-color: @staging-background;
  box-shadow: 0 -1px 15px @app-shadow-color;
  padding: 5px 10px 5px 10px;
}

.create-repo-toggle {
  float: right;
  margin-top: -75px;
  margin-right: 10px;
}
