@import 'public/less/variables.less';

.imageDiff {
  padding: 10px;
  text-align: center;
}

.img-removed {
  background-color: @image-removed-background;
}

.img-added {
  background-color: @image-added-background;
}
